.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.animation {
    width: 256px;
    height: 256px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleX(-1);
}

.text {
    font-size: 1.25rem;
    color: #4b5563;
}

.lottie {
    width: 100%;
    height: 100%;
}