.body {
    font-family: var(--font-geist-sans), var(--font-geist-mono), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.headerTitle img {
    max-height: 50px;
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.headerTitle h1 {
    margin: 0;
}