.container {
    padding: 2rem;
}

.searchContainer {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.breedsGrid {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .searchContainer {
        width: 100%;
    }
}