.layout {
    min-height: 100vh;
    background-color: var(--cyan-2);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 2rem;
}

.footer {
    grid-area: footer;
    background-color: var(--cyan-7);
    padding: 1rem 2rem;
    text-align: center;
}





