.container {
    margin: 0 auto;
    height: 100%;
}

.chatBox {
    height: 650px;
    overflow-y: auto;
    margin-bottom: 1rem;
    border: 1px solid var(--gray-a5);
    background: var(--color-panel-solid);
    border-radius: 12px;
    padding: 1rem;
}

.userBubble {
    max-width: 75%;
    border-radius: 12px;
    padding: 10px 12px;
    background: var(--cyan-9);
    color: white;
    border: none;
    line-height: 1.5;
}

.assistantBubble {
    max-width: 75%;
    border-radius: 12px 12px 12px 12px;
    padding: 10px 12px;
    background: var(--cyan-3);
    color: var(--gray-12);
    border: 1px solid var(--gray-a5);
    line-height: 1.5;
}

.assistantAvatar {
    width: 50px;
    height: 50px;
    position: relative;
    flex: 0 0 50px;
}

.textField {
    width: 100%;
    border-radius: 12px;
}