.layout {
    min-height: 100vh;
    background-color: var(--cyan-2);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    align-self: start;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.headerTitle img {
    max-height: 50px;
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.headerTitle h1 {
    margin: 0;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    text-align: center;
    overflow: auto;
    min-height: 0;
}


.dogAnimation {
    pointer-events: none;
    height: 400px;
    width: 100%;
    transform: scaleX(-1);

    /* margin-bottom: -6em; */
}

.footer {
    grid-area: footer;
    background-color: var(--cyan-7);
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
    align-self: end;
}