.layout {
    min-height: 100vh;
    background-color: var(--cyan-2);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    position: relative;
    align-self: start;
}

.headerTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

.headerTitle img {
    max-height: 50px;
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.headerTitle h1 {
    margin: 0;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
}

.dogAnimation {
    pointer-events: none;
    height: 400px;
    width: 100%;
    transform: scaleX(-1);
}

@media (max-width: 768px) {
    .main {
        padding: 1rem 3rem;
        justify-content: flex-start;
    }

    .dogAnimation {
        height: 250px;
    }
}

.footer {
    grid-area: footer;
    background-color: var(--cyan-7);
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-align: center;
    align-self: end;
}